:root {
  --primary-color: #2d2d2d;
  --primary-color: #00aeff;
  --lightGray-color: #eee;
  --darkGray-color: #ccc;
  --mediumGray-color: #e2dfd3;
  --light-color: rgba(255, 255, 255, 0.8);
  --dark-color: rgba(0, 0, 0, 0.8);
  --black-color: #000;
  --snowWhite-color: #faf8f4;
  --lightOrange-color: #ffefe2;
  --lightGreen-color: #effcef;
  --lightBlue-color: #e6f5f9;
  --lightSilver-color: #f4f6fa;
}

@font-face {
  font-family: "iranyekan";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/iranyekanwebmediumfanum.eot");
  src: url("/fonts/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/iranyekanwebmediumfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/iranyekanwebmediumfanum.ttf") format("truetype");
}
html,
div,
p {
  font-family: "iranyekan";
}

body {
  background-color: var(--lightGray-color);
}
#navigator {
  width: 270px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -270px;
  background-color: var(--primary-color);
  z-index: 10;
}
#nav {
  width: 250px;
  height: 100%;
  text-align: center;
  margin-top: 90px;
  padding: 0;
}
#nav_tab {
  width: 100%;
  display: block;
}
#nav_tab a {
  width: 100% !important;
  color: var(--light-color);
  font-size: 15px;
  font-weight: bold;
  padding: 0 15px;
  text-align: center;
  margin-top: 10px;

  transition: 0.35s ease;
  overflow: scroll;
}

.menu-icon {
  /* width: 150px; */
  height: 35px;

  top: 19px;
  right: 15px !important;
  z-index: 12;
  cursor: pointer;
}

.menu-icon div {
  width: 30px;
  height: 3px;
  background: var(--black-color);
  margin: 5px;
  transition: all 0.35s;
  border-radius: 2px;
}
.on .line_one {
  transform: rotate(45deg) translate(6px, 6px);
}
.on .line_two {
  opacity: 0;
}
.on .line_three {
  transform: rotate(-45deg) translate(6px, -6px);
}
#dark {
  width: 100%;
  height: 50000rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--dark-color);
  z-index: 5;
  display: none;
}
.img__container img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.search-container input::placeholder {
  color: var(--darkGray-color);
}
.search-container input {
  outline: none;
}
.first__section {
  background-color: var(--snowWhite-color);
}
.text__gray {
  color: var(--darkGray-color);
}
.icon__gray {
  background-color: var(--mediumGray-color);
}
.orange__bg {
  background-color: var(--lightOrange-color);
}
.green__bg {
  background-color: var(--lightGreen-color);
}
.blue__bg {
  background-color: var(--lightBlue-color);
}
.silver__bg {
  background-color: var(--lightSilver-color);
}
.circle__percentage {
  width: 50px;
  height: 50px;
}
.w--50 {
  width: 50px;
}
.w-250 {
  width: 250px;
}
.w-h-30 {
  width: 30px;
  height: 30px;
}
.w--100 {
  width: 100px;
}
.w--200 {
  width: 200px;
}
.font-size-14 {
  font-size: 14px;
}
.progress-container {
  width: 50px;
  height: 50px;
}

.statistic__image {
  object-fit: contain;
  width: 100%;
}
@media (min-width: 300px) and (max-width: 768px) {
  .orange__bg,
  .blue__bg,
  .silver__bg,
  .green__bg,
  .assets {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) {
  .aside {
    justify-content: flex-start !important;
  }
  .img__container {
    width: 100%;
  }
  .search-container {
    width: 500px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .img__container {
    text-align: left !important;
  }
}
@media (min-width: 1024px) {
  .aside {
    width: 250px !important;
  }
  .assets {
    width: 220px !important;
  }
}
